@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Protest+Riot&display=swap');
*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  .protest-riot-regular {
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

section{
    height: 100vh;
}

.navbar{
  position: absolute;
  top: 2%;
  right: 12%;
  color: rgb(246, 220, 186);
  font-size: 1.1rem;
}
.navbar ul{
  display: flex;
  gap: 1.5rem;
}
.navbar ul li{
  text-decoration: none;
  list-style-type: none;
}
.navbar ul li a{
  text-decoration: none;
  color: rgb(55, 49, 41);;
}
.navbar ul li a:hover{
  text-decoration: underline;
}