/* Add your navigation bar styles here */
nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-size: small;
  
}
nav ul li {
    margin: 0 10px;
    font-size: small;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: smaller;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    text-align: center;
    background-image: url("istockphoto-1365312463-1024x1024");
}