#login{
    height: 100vh;
}
#login header{
    display: grid;
}
.loginarea{
    position: absolute;
    border-radius: 2rem;
    border-width: 3px;
    border-color: rgb(233, 216, 182);
    border-style: solid;
    height: 30rem;
    width: 30rem;
    padding: 1rem 2rem;
    left: 8%;
    top: 6rem;
    backdrop-filter: blur(10px);
}
.loginarea h1{
    text-align: center;
    margin-top: 1rem;
    font-size: 3rem;
    color: rgb(233, 216, 182);
}
.loginicons{
    color: rgb(233, 216, 182);
}
.loginarea .inputarea{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 3rem 0;
}
.inputarea input{
    width: 93%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(196,176,132,.2);
    border-radius: 1rem;
    font-size: 1.5rem;
    color: rgb(233, 216, 182);
    padding: 0 1rem;
}
.inputarea input::placeholder{
    color: rgb(233, 216, 182);
    font-size: 1.2rem;
}
.inputarea span{
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
}
.loginarea .btn{
    width: 100%;
    height: 2.5rem;
    margin-top: 1rem;
    background: rgb(233, 216, 182);
    border: none;
    outline: none;
    border-radius: 1.5rem;
    font-size: 1rem;
    color: #333;
    font-weight: 600;
}
.loginarea .btn:hover{
    background: #333;
    color: rgb(233, 216, 182);
}
.loginarea .registerlink{
    font-size: 1rem;
    text-align: center;
    margin-top: 2.3rem;
    color: rgb(233, 216, 182);
}
.registerlink p a{
    color: rgb(233, 216, 182);
    text-decoration: none;
    font-weight: 400;
}
.registerlink p a:hover{
    text-decoration: underline;
}
.loginarea .registerinputs{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 2rem 0;
}
.registerinputs input{
    width: 93%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(196,176,132,.2);
    border-radius: 1rem;
    font-size: 1.5rem;
    color: rgb(233, 216, 182);
    padding: 0 1rem;
}
.registerinputs input::placeholder{
    color: rgb(233, 216, 182);
    font-size: 1.2rem;
}
.registerinputs span{
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
}
.regbtn{
    width: 100%;
    height: 2.5rem;
    margin-top: 0.3rem;
    background: rgb(233, 216, 182);
    border: none;
    outline: none;
    border-radius: 1.5rem;
    font-size: 1rem;
    color: #333;
    font-weight: 600;
}
.regbtn:hover{
    background: #333;
    color: rgb(233, 216, 182);
}
.loginarea .loginlink{
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
    color: rgb(233, 216, 182);
}
.loginlink p a{
    color: rgb(233, 216, 182);
    text-decoration: none;
    font-weight: 400;
}
.loginlink p a:hover{
    text-decoration: underline;
}
.notactive{
    display: none;
}